/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kode_Mono";
  src: url("./assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Asimovian";
  src: url("./assets/fonts/Asimovian/Asimovian-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* cegah scroll horizontal */
  box-sizing: border-box;
}
:root {
  /* --var-bg: rgb(10, 43, 70); */
  /* --var-bg: rgb(20, 56, 85); */
  /* ini buat var asli */
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.4);
  --white-grey: rgb(117, 130, 159);
  /* ini buat var toggle theme */
  --bg-image: url("./assets/img/atap_sekolah\(malam\).webp");
  --var-bg: var(--navy);
  --text-warna-besar: var(--lightest-slate);
  --text-warna-sedang: rgba(126, 136, 165, 1);
  --text-warna-kecil: var(--light-slate);
}

body.light-theme {
  --bg-image: url("../img/atap_sekolah\(pagi\).webp");
  --var-bg: var(--white-grey);
}

body {
  font-family: "Poppins", sans-serif;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.8s ease;
}

/* Class untuk mengunci scroll halaman */
/* html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  height: 100vh;
} */

.container {
  padding: 5rem 1rem 5rem;
  background-color: var(--var-bg);
  height: auto;
  /* min-height: 90dvh; */
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
}

.sub-bab-h2 {
  font-family: "Kode_Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  color: var(--text-warna-besar);
  text-transform: capitalize;
}

.sub-bab-h2::after {
  content: "";
  display: block;
  position: relative;
  /* top: -5px; */

  width: 60%;
  max-width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

#barToggle {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 1rem;
  z-index: 100;
  transform: translateY(-50%);
  background-color: var(--navy-shadow);
  border-radius: 8px 0 0 8px;
}
#barToggle ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style: none;
}
#barToggle ul li a {
  color: white;
  text-decoration: none;
}

/* future popup start */
.example {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: auto;
  transition: all 0.4s ease;
  opacity: 0;
}
.example h1 {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px 3px black;
  /* background-color: red; */
}

/* future popup end */

img {
  display: block;
}

.work .front,
.i-about .front {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--green-tint);
  transition: all 0.2s;
}

/* === Responsive untuk layar kecil === */
@media (max-width: 768px) {
  /* Header padding lebih kecil */
  #main-header {
    padding: 0.8rem 1rem;
  }

  /* Hamburger muncul */
  .hamburger-menu {
    display: flex;
  }

  /* Menu utama disembunyikan default */
  .btn-head {
    display: flex;
    position: absolute;
    overflow: hidden;
    /* height: auto; */
    max-height: 0;
    top: 100%; /* tepat di bawah header */
    width: 100%;
    left: 0;
    z-index: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 1.3rem 1rem 1rem 1rem;
    gap: 1.3rem;
    transform: translateY(-10px);
    transition: all 0.6s ease-in-out;
    opacity: 0;
  }
  /* #main-header.scrolled .btn-head{
    backdrop-filter: blur(10px);
  } */
  .btn-head.active {
    opacity: 1;
    max-height: 600px;
    /* display: flex; */
    transform: translateY(0);
  }
  /* Navigasi diubah jadi kolom */
  .btn-head nav {
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    justify-content: center;
    /* background: blue; */
    flex-grow: 1;
  }
  .btn-head nav a {
    /* background: red; */
    padding: 5px 0;
  }

  .btn-head button {
    width: 120px;
    text-align: center;
  }

  /* untuk  experient*/
  .exper {
    width: 85%;
  }
  .cour-2::scroll-button(right),
  .cour-2::scroll-button(left) {
    width: 3rem;
    height: 3rem;
  }

  /* untuk work */
  .work .k-cont .content .project-description,
  .work .k-cont .content .project-image {
    width: 60%;
  }

  .img-card {
    flex: 0 0 100%;
  }
  /* untuk personal */
  .personal {
    flex-wrap: wrap;
    padding: 0 2rem;
  }
}

@media (max-height: 480px) {
  /* untuk sticky content */
  .s-c-r a {
    font-size: 0.6rem;
    font-weight: 500;
  }
  .s-c-l a {
    width: 15px;
    height: 15px;
  }
  .s-c-r .line,
  .s-c-l .line {
    height: 40px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .sub-bab-h2 {
    /* margin-left: 3rem; */
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sub-bab-h2::after {
    display: none;
  }
  /* untuk stycky content */
  .s-c-l,
  .s-c-r {
    /* display: none; */
    visibility: hidden;
  }
  /* untuk about */
  .a-bout .content {
    /* padding: 0 5px; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .a-bout .content .t-about {
    /* background-color: red; */
    width: 90%;
  }
  .a-bout .content .i-about {
    /* background-color: blue; */
    width: 70%;
    transform: none !important;
  }

  /* untuk experient */
  .exper .content-exp {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .content-exp .sidebar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }
  .content-exp .sidebar ul li {
    border-left: none;
    border-bottom: 1px solid var(--lightest-navy);
  }
  .content-exp .sidebar ul li.active {
    border-bottom: 1px solid var(--green);
    border-left: none;
  }
  .content-exp .con-nav {
    width: 90%;
  }
  .content-serti {
    width: 99%;
  }
  .cour-2::scroll-button(right),
  .cour-2::scroll-button(left) {
    width: 2rem;
    height: 2rem;
  }

  /* untuk work */
  .work {
    /* width: 90%; */
    min-width: none;
  }
  .work .k-cont {
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
  .work .k-cont .content {
    width: 90%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--navy-shadow);
    justify-content: center;
  }
  .work .k-cont .content .project-description {
    width: 100%;
    top: 0;
    align-items: center;
    transform: translateY(0);
    background-color: var(--navy-shadow);
  }
  .work .k-cont .content .project-description span {
    text-align: center;
    background: transparent;
  }
  .k-cont .content:nth-child(even) {
    justify-content: center;
  }
  .k-cont .content:nth-child(even) .project-description {
    left: 0;
    right: auto;
    align-items: center;
  }
  .k-cont .content:nth-child(even) .project-description span {
    text-align: center;
  }

  .work .k-cont .content .project-image {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .work .k-cont .content .project-image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: auto;
  }

  /* untuk personal */
  .personal {
    min-width: none;
    width: 100%;
  }
  .personal .hobi svg {
    min-width: 30px;
    width: 30px;
    margin: 7px;
  }

  /* untuk footer */
  footer ul {
    display: flex;
  }
}
