/** =====================
 * Work start
 ====================== */
.work {
  max-width: 1000px;
  min-width: 400px;
  width: 80%;
}
.k-cont {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.k-cont .content {
  position: relative;
  /* background-color: gray; */
  height: auto;
  padding: 2px;
  display: flex;
  /* margin-bottom: 5rem; */
  min-height: 350px;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .work .k-cont .content .project-description,
  .work .k-cont .content .project-image {
    width: 60%;
  }

  .img-card {
    flex: 0 0 100%;
  }
}
@media (max-width: 480px) {
  .work {
    /* width: 90%; */
    min-width: none;
  }
  .work .k-cont {
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
  .work .k-cont .content {
    width: 90%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--navy-shadow);
    justify-content: center;
  }
  .work .k-cont .content .project-description {
    width: 100%;
    top: 0;
    align-items: center;
    transform: translateY(0);
    background-color: var(--navy-shadow);
  }
  .work .k-cont .content .project-description span {
    text-align: center;
    background: transparent;
  }
  .k-cont .content:nth-child(even) {
    justify-content: center;
  }
  .k-cont .content:nth-child(even) .project-description {
    left: 0;
    right: auto;
    align-items: center;
  }
  .k-cont .content:nth-child(even) .project-description span {
    text-align: center;
  }

  .work .k-cont .content .project-image {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .work .k-cont .content .project-image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: auto;
  }
}

/* work end */
