.btn-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  min-width: 450px;
}

.btn-head nav {
  text-transform: capitalize;
  font-family: "Kode_Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
  width: 60%;
}

.btn-head button {
  font-family: "Asimovian", serif;
  cursor: pointer;
  padding: 0.35em 0.5em;
  font-size: 0.9rem;
  background-color: transparent;
  border: 2px solid var(--green);
  border-radius: 8px;
  color: var(--green);
  transition: all 0.3s ease-in-out;
}

.btn-head button:hover {
  transform: scale(0.95);
}

.btn-head .btnConTogg {
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

/* toggle start */

.themeToggle {
  display: flex;
  position: relative;
  /* background-color: var(--green-tint); */
  /* border: 1px solid var(--green); */
  width: 25px;
  height: 25px;
  /* background-color: red; */
  color: var(--green);
  /* border-radius: 50px; */
}
.themeToggle svg {
  height: 100%;
}

@media (max-width: 768px) {
  /* Menu utama disembunyikan default */
  .btn-head {
    display: flex;
    position: absolute;
    overflow: hidden;
    /* height: auto; */
    max-height: 0;
    top: 100%; /* tepat di bawah header */
    width: 100%;
    left: 0;
    z-index: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 1.3rem 1rem 1rem 1rem;
    gap: 1.3rem;
    transform: translateY(-10px);
    transition: all 0.6s ease-in-out;
    opacity: 0;
  }
  .btn-head.active {
    opacity: 1;
    max-height: 600px;
    /* display: flex; */
    transform: translateY(0);
  }
  /* Navigasi diubah jadi kolom */
  .btn-head nav {
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    justify-content: center;
    /* background: blue; */
    flex-grow: 1;
  }
  .btn-head nav a {
    /* background: red; */
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 0;
  }
  .btn-head nav a:hover,
  .themeToggle:hover {
    transform: translateY(2px);
  }

  .btn-head button {
    width: 90px;
    text-align: center;
  }
  .btn-head .btnConTogg {
    /* width: 100%; */
    justify-content: space-evenly;
  }
  .themeToggle {
    width: 20px;
    height: 20px;
    transition: all 0.4s ease;
  }
}
/* toggle end */
