/** =====================
 * Foooter start
 ====================== */
footer {
  background-color: var(--var-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  color: var(--dark-slate);
  transition: all 0.8s ease;
}
footer ul {
  list-style: none;
  display: none;
  gap: 2rem;
  align-items: center;
}
footer svg {
  width: 25px;
  color: var(--dark-slate);
  transition: all 0.3s;
}
footer svg:hover {
  color: var(--green);
}

@media (max-width: 480px) {
  footer ul {
    display: flex;
  }
}
/* footer end */
